
.flex-container {
  display: flex;
  background-color: inset 0 0 0 800px rgba(0, 0, 0, 0.4);
}


.flex-container > div {
  background-color: inset 0 0 0 800px rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.text-container {
  background-image: url('images/Simple.jpg');
  background-size: cover;
  padding: 20px;
  color: black;
}

.text-container2 {
  background-image: url('images/Free.jpg');
  background-size: cover;
  padding: 20px;
  color: black;
}

.text-container3 {
  background-image: url('images/Flexible.jpg');
  background-size: cover;
  padding: 20px;
  color: black;
}

.animation-container {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



h1, h3, h4, h5, h6 {
  margin: 0; 
}

h1 {
  font-size: 3em; 
}

h3,h4 {
  font-size: 1.3em; 
}

h5 {
  font-size: 0.7em; 
}

h6 {
  font-size: 0.5em; 
}

p {
  font-size: 1em; /* Adjust as needed */
}



